body {
  /* background-image: url('./ok.gif'); */
  background-image: url('./bg.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.centered {
  padding: 10px;
  text-align: center;
}

.init-icos {
  margin: 40px;
  /* display: grid; */
}

.ico {
  display: inline-grid;
  color: white;
}

a {
  /* display: grid; */
  padding: 10px;
  /* text- */
}